<!-- <!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
  </head>
  <body>
    <h1>Welcome to my Cheese App!</h1>
    <ul>
      <li><a href="/network" target="_blank">Cheese Similarity Network</a></li>
      <li><a href="/common_and_unique_cheese" target="_blank">Common and Unique Cheese</a></li>
      <li><a href="/similar_and_different_cheese" target="_blank">Similar and Different Cheese</a></li>
      <li><a href="/cheese_origin_by_country_map" target="_blank">Cheese Origin by Country Map</a></li>
      <li><a href="/cheese_origin_by_country_barchart" target="_blank">Cheese Origin by Country Barchart</a></li>
      <li><a href="/cheese_origin_by_state_map" target="_blank">Cheese Origin by State Map</a></li>
      <li><a href="/cheese_origin_by_state_barchart" target="_blank">Cheese Origin by State Barchart</a></li>
      <li><a href="/us_cheese_rind_piechart" target="_blank">US Cheese Rind Piechart</a></li>
    </ul>
  </body>
</html> -->

<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <style>
      body {
          background-image: url("static/bg.png");
          background-repeat: no-repeat;
          background-size: cover;
      }
  </style>
  </head>
  <body>
    <h1>Welcome to my Cheese World!</h1>
    <ol>
      <li><a href="/common_and_unique_cheese">Common and Unique Cheese</a></li>
      <li><a href="/similar_and_different_cheese">Similar and Different Cheese</a></li>
      <li><a href="/cheese_origin_by_country_map">Cheese Origin by Country Map</a></li>
      <li><a href="/cheese_origin_by_country_barchart">Cheese Origin by Country Barchart</a></li>
      <li><a href="/cheese_origin_by_state_map">Cheese Origin by State Map</a></li>
      <li><a href="/cheese_origin_by_state_barchart">Cheese Origin by State Barchart</a></li>
      <li><a href="/us_cheese_rind_piechart">US Cheese Rind Piechart</a></li>
      <li><a href="/network_image" target="_blank">Cheese Similarity Network</a> (Network Image)</li>
      <li><a href="/network" target="_blank">Cheese Similarity Network</a> (Interactive network, but need to wait for a few minutes)</li>
    </ol>
  </body>
</html>
